body {
  margin: 25px;
}
path {
	stroke: #000;
	stroke-width: 0.3px;
}
table {
  margin-bottom: 0;
}
td, th {
  padding: 6px 9px;
}
td {
  text-align: right;
}
g.features {
  stroke: #d8d8d8;
  stroke-width: 0.5;
}
g.features path:hover {
  opacity: 0.5;
}
.line {
	fill: none;
	stroke: black;
	stroke-width: 1;
}
#legend {
  border: 1px solid silver;
  border-top: 0;
}

.legend-key path {
  display: none;
}

.legend-key text {
  font-size: 1rem;
}

.legend-key line {
  stroke: #000;
  shape-rendering: crispEdges;
}
.chart-legend {
	shape-rendering: 
}
.tooltip {
  font-weight: bold;
  font-size: 1.5rem;
  padding: 1rem;
  border: 2px #C0C0C0;
  color: #090909;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0px 0px 3px 0px #a6a6a6;
  opacity: 0.9;
  position: absolute;
}
.hidden {
  display: none;
}
.container {
  width: 100%;
}
#details, #initial {
  margin-top: 2rem;
}
#data_table {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	font-size: 1.1rem;
}
#choropleth {
  font-size: 0; /* to prevent margin at bottom of map container */
  border: 1px solid silver;
  background: #E6E6E6;
  background-color: #a7cdf2;
}
.feature.active {
	border: 3px black;
}