body {
  margin: 25px;
}

#choropleth {
  width: 1100px;
  height: 600px;
  border: 1px solid silver;
  background: #E6E6E6;
}

.feature.active {
	border: 3px black;
}

.Oranges .q0-7{fill:rgb(254,237,222)}
.Oranges .q1-7{fill:rgb(253,208,162)} 
.Oranges .q2-7{fill:rgb(253,174,107)} 
.Oranges .q3-7{fill:rgb(253,141,60)} 
.Oranges .q4-7{fill:rgb(241,105,19)} 
.Oranges .q5-7{fill:rgb(217,72,1)} 
.Oranges .q6-7{fill:rgb(140,45,4)}